@using Sitecore.Mvc
@model Sitecore.Mvc.Presentation.RenderingModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>@Model.PageItem.DisplayName</title>
    <link href="~/Assets/scripts/Test/DataTest/Test/deps/mocha.css" rel="stylesheet" />
    @Html.Sitecore().Placeholder("Page.Stylesheets")
    @Html.Sitecore().Placeholder("Page.Code")
</head>
<body>
    <h1>Given a Product Controller in the server side</h1>
    @this.Html.Sitecore().Placeholder("Page.Internal.BeforeGrid")

    @this.Html.Sitecore().Placeholder("Page.Body")

    @this.Html.Sitecore().Placeholder("Page.Internal.AfterGrid")
    <div id="mocha"></div>
    <script src="/sitecore/shell/client/Services/Assets/lib/entityservice.js"></script>
    <script src="~/Assets/scripts/Test/DataTest/Test/deps/mocha.js"></script>
    <script src="~/Assets/scripts/Test/DataTest/Test/deps/chai.js"></script>
    <script src="~/Assets/scripts/Test/DataTest/Test/deps/sinon-1.7.3.js"></script>
    <script>
        mocha.ui('bdd');
        mocha.reporter('html');
        var should = chai.should();
    </script>
    <script src="~/Assets/scripts/Test/DataTest/Test/nested.test.js"></script>
    <script>
        if (window.mochaPhantomJS) { mochaPhantomJS.run(); }
        else { mocha.run(); }
    </script>
</body>
</html>
