@using Sitecore.Mvc
@using Sitecore.Web.UI
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    var control = this.InitializeControl("inputButton");
    var icon = control.GetString("Icon");
    var iconHtml = "";
    var click = control.GetString("Click");
    var label =  control.GetString("Label");
    var isVisible = control.GetBool("IsVisible");
    if (!string.IsNullOrEmpty(icon))
    {
        iconHtml = "<i class='fa " + icon + "'></i>";
    }
    
    control.AppendClass(control.GetString("CssClass"));
}

<button @control.HtmlAttributes data-bind="click:handler,visible:IsVisible" data-sc-properties='{ "IsVisible": "@isVisible", "click": "@click" , "Label": "@label" }' data-sc-presenter="scKoPresenter">
    @Html.Raw(iconHtml)
    <span data-bind="text:Label">
        @label
    </span>
</button>